.d7qkrn2[class][class]{height:1px;}

.dir.d7qkrn2[class][class]{background:var(--j-qkgmf);margin:8px 0;}
.l1pxf2fz[class][class]{align-self:center;}

.dir-ltr.l1pxf2fz[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.l1pxf2fz[class][class]{margin-left:var(--fgg-f-l-a);}
.b128my4s[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b128my4s[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b128my4s[class][class]:disabled{opacity:0.3;}

.dir.b128my4s[class][class]:disabled{cursor:not-allowed;}

.c38b6lo[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);padding-top:8px;padding-bottom:8px;padding-left:16px;padding-right:16px;}

.dir.c38b6lo[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s ease,transform 0.1s ease;border-color:var(--f-mkcy-f);background:transparent;padding-top:7px;padding-bottom:7px;padding-left:15px;padding-right:15px;}

@media (prefers-reduced-motion:reduce){
.dir.c38b6lo[class][class]{transition:none;}}

.c38b6lo[class][class]:focus-visible{outline:none;}

.dir.c38b6lo[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c38b6lo[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c38b6lo[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c38b6lo[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c38b6lo[class][class]:focus-visible{transition:none;}}

.c38b6lo[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c38b6lo[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c38b6lo[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c38b6lo[class][class]:active{transform:scale(0.96);}

.c38b6lo[class][class]:disabled{opacity:1;}

.c38b6lo[class][class]:focus-visible{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:focus-visible{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

.c38b6lo[class][class]:focus[data-focus-visible-added]{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

@media (hover:hover){
.c38b6lo[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:hover{border-color:var(--f-mkcy-f);background:#4a4a4a;}}

.c38b6lo[class][class]:active{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:active{border-color:var(--f-mkcy-f);background:#4a4a4a;}

.c38b6lo[class][class]:disabled{color:#878787;}

.dir.c38b6lo[class][class]:disabled{cursor:not-allowed;background:transparent;border-color:#4a4a4a;}

.f11os0jn[class][class]{width:100%;}

.s1dynm5b[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1dynm5b[class][class]:not(:focus){border:0;padding:0;}
.catp5v1[class][class]{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]{border-color:var(--f-mkcy-f);background:transparent;}

.catp5v1[class][class]:focus-visible{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:focus-visible{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

.catp5v1[class][class]:focus[data-focus-visible-added]{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:focus[data-focus-visible-added]{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

@media (hover:hover){
.catp5v1[class][class]:hover{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:hover{border-color:var(--f-mkcy-f);background:#4a4a4a;}}

.catp5v1[class][class]:active{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:active{border-color:var(--f-mkcy-f);background:#4a4a4a;}

.catp5v1[class][class]:disabled{color:#878787;}

.dir.catp5v1[class][class]:disabled{cursor:not-allowed;background:transparent;border-color:#4a4a4a;}
.tb9bci3[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tb9bci3[class][class]{left:0;right:0;border-radius:var(--go-h-jh-l);}

.t1l18xbv[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir.t1l18xbv[class][class]{background-size:200% 200%;transition:opacity 1.25s;background-image:radial-gradient( circle at center,var(--ihf-tp-q) 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% );}

.t1l18xbv[class][class]:hover{opacity:1;}

.t1l18xbv[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t1l18xbv[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.c1ng71ne[class][class]{display:block;position:relative;pointer-events:none;}
.c13cw3wj[class][class]{outline:none;align-items:center;display:inline-flex;height:80px;position:relative;vertical-align:middle;z-index:1;}

.dir.c13cw3wj[class][class]{transition:color 250ms ease;}

.dir.c13cw3wj[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c13cw3wj[class][class]:focus::-moz-focus-inner{border:none;}

.c13cw3wj[class][class]:-moz-focusring{outline:none;}

.c13cw3wj[class][class]::before{bottom:8px;content:'';position:absolute;top:8px;}

.dir.c13cw3wj[class][class]::before{border-radius:var(--i-g-gvoq);left:-8px;right:-8px;}

.dir.c13cw3wj[class][class]:focus-visible::before{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f);}

@media (prefers-reduced-motion:reduce){
.dir.c13cw3wj[class][class]:focus-visible::before{transition:none;}}

.dir.c13cw3wj[class][class]:focus[data-focus-visible-added]::before{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f);}

@media (prefers-reduced-motion:reduce){
.dir.c13cw3wj[class][class]:focus[data-focus-visible-added]::before{transition:none;}}

.cbavvlr[class][class]{color:var(--ihf-tp-q);}

.cbavvlr[class][class]:hover{color:var(--ihf-tp-q);}

.c3buc0y[class][class]{color:var(--f-mkcy-f);}

.c3buc0y[class][class]:hover{color:var(--f-mkcy-f);}

.l10sdlqs[class][class]{display:none;}

@media (min-width:1128px){
.l10sdlqs[class][class]{display:block;}}

@media (min-width:1128px){
.bpe4snb[class][class]{display:none;}}
