.ij8v3ld[class][class]{bottom:-1px;position:absolute;}

.dir.ij8v3ld[class][class]{padding-left:4px;padding-right:4px;}

.s1ozym1t[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);position:relative;}

.dir.s1ozym1t[class][class]{padding-top:4px;}
.c14pjlk9[class][class]{--parsed-html-color:var(--f-mkcy-f);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--e-y-j-d-v-j);}
.be0yxdv[class][class]{position:absolute;bottom:0;line-height:0;pointer-events:none;}

.dir-ltr.be0yxdv[class][class]{right:-8px;}

.dir-rtl.be0yxdv[class][class]{left:-8px;}

.be0yxdv[class][class].dir-rtl[class][class]{right:-8px;}

.chnzxuf[class][class]{display:flex;flex-direction:row-reverse;-webkit-box-pack:left;-ms-flex-pack:left;align-items:center;}

.dir.chnzxuf[class][class]{margin-bottom:12px;}

.dir-ltr.chnzxuf[class][class]{justify-content:left;}

.dir-rtl.chnzxuf[class][class]{justify-content:right;}

@media (min-width:1128px){
.dir.chnzxuf[class][class]{margin-bottom:16px;}}

.chnzxuf[class][class].dir-rtl[class][class]{justify-content:right;}

.t9gtck5[class][class]{color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-weight:var(--jx-zk-pv);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dir-ltr.t9gtck5[class][class]{margin-left:12px;}

.dir-rtl.t9gtck5[class][class]{margin-right:12px;}

.s11wgnhd[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--i-nh-zme);line-height:var(--gvarj-f);}
.dir.s17jnjyz[class][class]{margin-top:8px;}

.t4o9snv[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;display:flex;flex-wrap:wrap;}

.dir.t4o9snv[class][class]{margin-top:6px;}

.s189e1ab[class][class]{display:flex;align-items:baseline;}

.mp1m77v[class][class]{color:var(--fo-jk-r-s);}
.ihplffx[class][class]{flex-shrink:0;align-self:flex-start;}

.dir-ltr.ihplffx[class][class]{margin-right:8px;}

.dir-rtl.ihplffx[class][class]{margin-left:8px;}

.t1piusda[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;display:flex;}

.dir.t1piusda[class][class]{margin-top:6px;}
.dir.r1are2x1[class][class]{margin-bottom:32px;}

@media (min-width:1128px){
.dir.r1are2x1[class][class]{margin-bottom:40px;}}
.dir.cjpieoq[class][class]{margin-top:24px;}

.dir-ltr.cjpieoq[class][class]{margin-left:24px;}

.dir-rtl.cjpieoq[class][class]{margin-right:24px;}

@media (min-width:1128px){
.dir.cjpieoq[class][class]{margin-top:48px;}

.dir-ltr.cjpieoq[class][class]{margin-left:32px;}

.dir-rtl.cjpieoq[class][class]{margin-right:32px;}}

.mreeeqq[class][class]{color:var(--fo-jk-r-s);}

.dir-ltr.rco2uhc[class][class]{margin-left:52px;}

.dir-rtl.rco2uhc[class][class]{margin-right:52px;}

.twbr29z[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;display:flex;}

.dir.twbr29z[class][class]{margin-top:6px;}
.l2v16jm[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);display:flex;align-items:baseline;}

.dir.l2v16jm[class][class]{margin-top:36px;}

@media (min-width:744px){
.dir.l2v16jm[class][class]{margin-top:48px;}}

.dir.l1rch8zo[class][class]{margin-top:40px;margin-bottom:40px;}

@media (min-width:744px){
.dir.l1rch8zo[class][class]{margin-top:48px;margin-bottom:16px;}}
.d8owar6[class][class]{flex:0 0 auto;height:calc(1.25 * var(--fgg-f-l-a));width:calc(1.25 * var(--fgg-f-l-a));}

.dir.d8owar6[class][class]{background:var(--d-u-w-o-m-k);border-radius:50%;}

.dir-ltr.d8owar6[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.d8owar6[class][class]{margin-left:var(--fgg-f-l-a);}
.cvyfggr[class][class]{position:relative;cursor:text;display:flex;min-height:56px;width:100%;color:black;background-color:white;min-height:unset;height:unset;display:flex;align-items:center;width:100%;color:var(--f-k-smk-x);}

.dir.cvyfggr[class][class]{margin:0;border:none;cursor:text;padding-top:12px;padding-bottom:12px;border-radius:100px;box-shadow:inset 0 0 0 1px var(--iw-ihca);background-color:var(---pc-g-v-g);}

.dir-ltr.cvyfggr[class][class]{padding-right:12px;padding-left:16px;}

.dir-rtl.cvyfggr[class][class]{padding-left:12px;padding-right:16px;}

.lol0vti[class][class]{display:flex;align-items:center;padding-left:12px;max-width:50%;white-space:nowrap;}

.dir.lol0vti[class][class]{padding-top:0;padding-right:0;padding-left:0;padding-bottom:0;}

.dir-ltr.lol0vti[class][class]{margin-right:8px;}

.dir-rtl.lol0vti[class][class]{margin-left:8px;}

.i19s91t4[class][class]{position:relative;flex:1;}

.dir.i19s91t4[class][class]{padding:0;}

.t14ihw1q[class][class]{display:flex;align-items:center;justify-content:center;max-width:50%;min-width:36px;overflow:hidden;white-space:nowrap;padding-left:0;padding-right:12px;overflow:visible;min-width:unset;}

.dir.t14ihw1q[class][class]{padding-top:0;padding-right:0;padding-left:0;padding-bottom:0;}

.id4k8i2[class][class]{display:flex;}

.dir-ltr.i1y90vkt[class][class]{padding-left:12px;margin-right:-6px;}

.dir-rtl.i1y90vkt[class][class]{padding-right:12px;margin-left:-6px;}

.dir.i1kz62dl[class][class]{padding-top:26px;}

.smryvv9[class][class]{width:100%;position:absolute;overflow:hidden;white-space:nowrap;pointer-events:none;}

.dir.smryvv9[class][class]{padding-top:26px;}

.dir-ltr.smryvv9[class][class]{left:0;}

.dir-rtl.smryvv9[class][class]{right:0;}

.sq5a1uz[class][class]{display:inline-block;visibility:hidden;}

.dir-ltr.sq5a1uz[class][class]{padding-left:12px;margin-right:6px;}

.dir-rtl.sq5a1uz[class][class]{padding-right:12px;margin-left:6px;}

.s1ujr47b[class][class]{display:none;}

.ih1c1h[class][class]{width:100%;border:none;outline:none;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-left:12px;margin-right:12px;margin-top:26px;margin-bottom:6px;min-height:1px;color:inherit;background-color:transparent;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:none;flex:1;outline:none;color:var(--f-k-smk-x);font-size:var(--i-nh-zme);line-height:var(--gvarj-f);font-weight:var(--e-y-j-d-v-j);text-overflow:ellipsis;}

.dir.ih1c1h[class][class]{border:none;background-color:transparent;padding-top:0;padding-right:0;padding-left:0;padding-bottom:0;margin-top:0;margin-bottom:0;}

.dir-ltr.ih1c1h[class][class]{margin-right:8px;margin-left:0;}

.dir-rtl.ih1c1h[class][class]{margin-left:8px;margin-right:0;}

.dir.ih1c1h[class][class]:-webkit-autofill{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.ih1c1h[class][class]:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.ih1c1h[class][class]:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.ih1c1h[class][class]:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset;}

.ih1c1h[class][class]::-ms-clear{display:none;}

.ih1c1h[class][class]::placeholder{color:var(--fo-jk-r-s);}

.dir.ih1c1h[class][class]:disabled{cursor:not-allowed;}

.ih1c1h[class][class]:disabled::placeholder{color:var(--j-qkgmf);}

.dir.i4h6lv8[class][class]{cursor:not-allowed;}

.c1gqfft1[class][class]{outline:none;}

.dir.c1gqfft1[class][class]{box-shadow:inset 0 0 0 2px var(--f-k-smk-x);}

.ct915nw[class][class]{opacity:0.3;cursor:not-allowed;opacity:1;color:var(--j-qkgmf);}

.dir.ct915nw[class][class]{box-shadow:inset 0 0 0 2px var(---pc-g-v-g);cursor:not-allowed;}

.c10mwbts[class][class]{color:red;}

.dir.cn65be6[class][class]{background-color:white;box-shadow:inset 0 0 0 2px red;}

.c1totxbb[class][class]{color:var(--fo-jk-r-s);display:flex;justify-content:center;}

.dir.c1totxbb[class][class]{border-radius:50%;border-style:none;background-color:var(--j-qkgmf);padding-top:4px;padding-right:4px;padding-left:4px;padding-bottom:4px;}

@media (hover:hover){
.dir.c1totxbb[class][class]:hover{background-color:var(--iw-ihca);}}

.dir.c1totxbb[class][class]:active{background-color:var(--iw-ihca);}

.c1totxbb[class][class]:focus{outline:none;}

.dir.c1totxbb[class][class]:focus{background-color:var(--iw-ihca);}

.c1totxbb[class][class]:focus-visible{outline:none;}

.dir.c1totxbb[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x) 0 0 0 4px rgba(255,255,255,0.8);}

.dir.c1totxbb[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1totxbb[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1totxbb[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1totxbb[class][class]:focus-visible{transition:none;}}

.c1totxbb[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1totxbb[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x) 0 0 0 4px rgba(255,255,255,0.8);}

.dir.c1totxbb[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1totxbb[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1totxbb[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1totxbb[class][class]:focus[data-focus-visible-added]{transition:none;}}
.c1xkss4d[class][class]{display:flex;flex-direction:row;align-items:center;justify-content:center;pointer-events:none;justify-content:space-between;}



