@media (min-width:1128px){
.cnatlfb[class][class]{display:none;}}

.t10tfkhs[class][class]{font-weight:bold;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);-webkit-letter-spacing:0.02em;-moz-letter-spacing:0.02em;-ms-letter-spacing:0.02em;letter-spacing:0.02em;}

.ccmc24d[class][class]{color:var(--f-k-smk-x);font-size:var(--hr-k-udr);line-height:var(--dpgw-ac);-webkit-letter-spacing:0.02em;-moz-letter-spacing:0.02em;-ms-letter-spacing:0.02em;letter-spacing:0.02em;}
.lv0dgul[class][class] > ol{display:inline;}
.lr0v7q8[class][class]{white-space:nowrap;}

.i9chubn[class][class]{vertical-align:middle;}

.dir-ltr.i9chubn[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-rtl.i9chubn[class][class]{margin-right:var(--fgg-f-l-a);}
