.dir.ls8e0jk[class][class]{margin-top:24px;}

@media (min-width:744px){
.dir.ls8e0jk[class][class]{margin-top:16px;}}
.c4mnd7m[class][class]{display:grid;grid-template-columns:100%;}

.c1pbo4kt[class][class]{flex-direction:column;grid-area:1 / 1 / 2 / 2;height:100%;visibility:hidden;opacity:0;z-index:2;}

.dir.c1pbo4kt[class][class]{margin:0;padding-top:0;}

.l179zchc[class][class]{visibility:visible;content-visibility:visible;opacity:1;}

.l11gabdp[class][class]{visibility:visible;content-visibility:visible;opacity:1;}

.dir.l11gabdp[class][class]{transition:opacity var(--transition-element_transition-duration) cubic-bezier(0.895,0.03,0.685,0.22) var(--transition-element_transition-delay);}

@media (prefers-reduced-motion:reduce){
.dir.l11gabdp[class][class]{transition-delay:0ms;transition-duration:0ms;}}

.l86y7sf[class][class]{opacity:0;}

.c1l1h97y[class][class]{grid-area:1 / 1 / 2 / 2;}

.l1aqx8qh[class][class]{visibility:hidden;opacity:0;}

.l1quy2ni[class][class]{visibility:visible;content-visibility:unset;opacity:0;}

.dir.l1quy2ni[class][class]{transition:opacity var(--transition-element_transition-duration) cubic-bezier(0.895,0.03,0.685,0.22) var(--transition-element_transition-delay);}

@media (prefers-reduced-motion:reduce){
.dir.l1quy2ni[class][class]{transition-delay:0ms;transition-duration:0ms;}}

.lo4oprd[class][class]{opacity:1;}

.cikyho8[class][class]{display:none;}

@supports (content-visibility:hidden){
.cikyho8[class][class]{content-visibility:hidden;display:flex;}}
.g1wiliwt[class][class]{--card-content-grid_gap:var(--d-b-mrdy) var(--fgg-f-l-a);--card-content-grid_template-columns:minmax(0,1fr) 15%;}

.m1cp3yuo[class][class]{--aspect_ratio_wrapper-ratio:20 / 19;--aspect_ratio_wrapper-padding_fallback:95%;--aspect_ratio_wrapper-position_fallback:relative;}

.dir.m1cp3yuo[class][class]{margin-bottom:var(--b-y-unon);}

.a3g92ry[class][class]{grid-column:-2 / -1;grid-row:1;justify-self:end;width:100%;}

.pc0djro[class][class]{grid-column:1 / -1;}

.dir.pc0djro[class][class]{margin-top:6px;}
@supports (aspect-ratio:1 / 1){
.awuxh4x[class][class]{aspect-ratio:var(--aspect_ratio_wrapper-ratio,unset);}}

@supports not (aspect-ratio:1 / 1){
.awuxh4x[class][class]{position:var(--aspect_ratio_wrapper-position_fallback,unset);}

.dir.awuxh4x[class][class]{padding-top:var(--aspect_ratio_wrapper-padding_fallback,0);}}

.cw9aemg[class][class]{height:100%;min-width:0;position:unset;}

@supports not (aspect-ratio:1 / 1){
.cw9aemg[class][class]{position:absolute;height:100%;width:100%;top:0;bottom:0;}

.dir.cw9aemg[class][class]{left:0;right:0;}}
.byartsa[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.byartsa[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.byartsa[class][class]:disabled{opacity:0.3;}

.dir.byartsa[class][class]:disabled{cursor:not-allowed;}

.c1ypm6op[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;border-radius:0;color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;font-family:inherit;font-size:inherit;line-height:inherit;font-weight:inherit;outline:none;}

.dir.c1ypm6op[class][class]{border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;background:transparent;border:none;margin:0;padding:0;text-align:inherit;border-radius:var(--i-g-gvoq);}

@media (prefers-reduced-motion:reduce){
.dir.c1ypm6op[class][class]{transition:none;}}

.c1ypm6op[class][class]:focus-visible{outline:none;}

.dir.c1ypm6op[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ypm6op[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ypm6op[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1ypm6op[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ypm6op[class][class]:focus-visible{transition:none;}}

.c1ypm6op[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1ypm6op[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ypm6op[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ypm6op[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1ypm6op[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ypm6op[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1ypm6op[class][class]:active{transform:scale(0.96);}

.c1ypm6op[class][class]:disabled{opacity:1;}

.dir.c1ypm6op[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ypm6op[class][class]:focus::-moz-focus-inner{border:none;}

.c1ypm6op[class][class]:-moz-focusring{outline:none;}

.dir.c1ypm6op[class][class]:focus-visible{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c1ypm6op[class][class]:focus-visible{transition:none;}}

.dir.c1ypm6op[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c1ypm6op[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1ypm6op[class][class]:active{transform:none;}

.f1c5ollu[class][class]{width:100%;}

.sumxmwf[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sumxmwf[class][class]:not(:focus){border:0;padding:0;}
.l1tup9az[class][class]{--card-layout_flex-direction:column-reverse;}

.g1qv1ctd[class][class]{--card-content-grid_gap:var(--d-b-mrdy) var(--fgg-f-l-a);font-size:15px;line-height:19px;}

.lz543g6[class][class]{display:block;position:absolute;top:0;bottom:0;outline:none;}

.dir.lz543g6[class][class]{left:0;right:0;border-radius:var(--i-g-gvoq);}

.dir.lz543g6[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.lz543g6[class][class]:focus::-moz-focus-inner{border:none;}

.lz543g6[class][class]:-moz-focusring{outline:none;}

.dir.lz543g6[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.lz543g6[class][class]:focus-visible{transition:none;}}

.dir.lz543g6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.lz543g6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.m1v28t5c[class][class]{--aspect_ratio_wrapper-ratio:20 / 19;--aspect_ratio_wrapper-padding_fallback:95%;--aspect_ratio_wrapper-position_fallback:relative;}

.dir.m1v28t5c[class][class]{margin-bottom:var(--b-y-unon);}

.nquyp1l[class][class]{grid-column:1 / -1;}

@media (min-width:1440px){
.dir-ltr.nquyp1l[class][class]{padding-right:20%;}

.dir-rtl.nquyp1l[class][class]{padding-left:20%;}}

.p11pu8yw[class][class]{grid-column:1 / -1;}

.dir.p11pu8yw[class][class]{margin-top:6px;}
.s1yvqyx7[class][class]{grid-area:var(--contentscroller_scroller_grid-area,scroller);-webkit-margin-before:var(--contentscroller_scroller_margin-block-start,unset);margin-block-start:var(--contentscroller_scroller_margin-block-start,unset);-webkit-margin-after:var(--contentscroller_scroller_margin-block-end,unset);margin-block-end:var(--contentscroller_scroller_margin-block-end,unset);place-self:var(--contentscroller_scroller_place-self,auto);}

.dir.s1yvqyx7[class][class]{-webkit-margin-start:var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );margin-inline-start:var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );-webkit-margin-end:var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );margin-inline-end:var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );padding:var(--contentscroller_scroller_padding,0);}

.c18vjgz6[class][class]{grid-area:var(--contentscroller_controls_grid-area,header);-webkit-margin-before:var(--contentscroller_controls_margin-block-start,unset);margin-block-start:var(--contentscroller_controls_margin-block-start,unset);-webkit-margin-after:var(--contentscroller_controls_margin-block-end,unset);margin-block-end:var(--contentscroller_controls_margin-block-end,unset);place-self:var(--contentscroller_controls_place-self,auto end);pointer-events:var(--contentscroller_controls_pointer-events);z-index:var(--contentscroller_controls_z-index,auto);}

.dir.c18vjgz6[class][class]{-webkit-margin-start:var(--contentscroller_controls_margin-inline-start,unset);margin-inline-start:var(--contentscroller_controls_margin-inline-start,unset);-webkit-margin-end:var(--contentscroller_controls_margin-inline-end,unset);margin-inline-end:var(--contentscroller_controls_margin-inline-end,unset);}

.t14s0ksq[class][class]{grid-area:var(--contentscroller_trailing-controls_grid-area,footer);-webkit-margin-before:var( --contentscroller_trailing-controls_margin-block-start, unset );margin-block-start:var( --contentscroller_trailing-controls_margin-block-start, unset );-webkit-margin-after:var(--contentscroller_trailing-controls_margin-block-end,unset);margin-block-end:var(--contentscroller_trailing-controls_margin-block-end,unset);place-self:var(--contentscroller_trailing-controls_place-self,auto end);pointer-events:var(--contentscroller_trailing-controls_pointer-events);z-index:var(--contentscroller_trailing-controls_z-index,auto);}

.dir.t14s0ksq[class][class]{-webkit-margin-start:var( --contentscroller_trailing-controls_margin-inline-start, unset );margin-inline-start:var( --contentscroller_trailing-controls_margin-inline-start, unset );-webkit-margin-end:var(--contentscroller_trailing-controls_margin-inline-end,unset);margin-inline-end:var(--contentscroller_trailing-controls_margin-inline-end,unset);}

.hztl681[class][class]{grid-area:var(--contentscroller_header_grid-area,header);place-self:var(--contentscroller_header_place-self,auto);}

.rd7fm2t[class][class]{display:grid;grid-template:var( --contentscroller_layout_grid-template, 'header' 'scroller' 'footer' / minmax(0,1fr) );}
.c14whb16[class][class]{contain:var(--contentscroller_contain);contain-intrinsic-size:var(--contentscroller_contain-intrinsic-size);content-visibility:var(--contentscroller_content-visibility);display:grid;grid-auto-flow:column;grid-auto-columns:var( --contentscroller_auto-columns, calc( ( 100% - var(--contentscroller_gap,16px) * (var(--contentscroller_visible-items,unset) - 1) ) / var(--contentscroller_visible-items,unset) ) );gap:var(--contentscroller_gap,16px);grid-template-rows:var(--contentscroller_rows,none);grid-template-areas:var(--contentscroller_areas,none);justify-content:flex-start;min-height:var(--contentscroller_min-height);height:var(--contentscroller_height);overflow:var(--contentscroller_overflow,auto hidden);overscroll-behavior-inline:contain;-webkit-padding-before:var(--contentscroller_padding-block-start,unset);padding-block-start:var(--contentscroller_padding-block-start,unset);-webkit-padding-after:var(--contentscroller_padding-block-end,unset);padding-block-end:var(--contentscroller_padding-block-end,unset);-webkit-scroll-padding-inline:var(--contentscroller_peek,32px);-moz-scroll-padding-inline:var(--contentscroller_peek,32px);-ms-scroll-padding-inline:var(--contentscroller_peek,32px);scroll-padding-inline:var(--contentscroller_peek,32px);-webkit-scrollbar-width:none;-moz-scrollbar-width:none;-ms-scrollbar-width:none;scrollbar-width:none;touch-action:var(--contentscroller_touch-action,pan-x pan-y pinch-zoom);}

.dir.c14whb16[class][class]{margin:0;-webkit-padding-start:var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );padding-inline-start:var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );-webkit-padding-end:var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );padding-inline-end:var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );}

@supports (-webkit-scroll-behavior:smooth) or (-moz-scroll-behavior:smooth) or (-ms-scroll-behavior:smooth) or (scroll-behavior:smooth){
.c14whb16[class][class]{-moz-scroll-snap-type:var(--contentscroller_scrollsnaptype,inline mandatory);scroll-snap-type:var(--contentscroller_scrollsnaptype,inline mandatory);}}

.c14whb16[class][class]::-webkit-scrollbar{display:none;}

.c14whb16[class][class] > :nth-child(n){-webkit-scroll-snap-align:var(--contentscroller_scrollsnapalign,start);-moz-scroll-snap-align:var(--contentscroller_scrollsnapalign,start);-ms-scroll-snap-align:var(--contentscroller_scrollsnapalign,start);scroll-snap-align:var(--contentscroller_scrollsnapalign,start);-webkit-scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);-moz-scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);-ms-scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);}
.r14q8jov[class][class]{display:flex;gap:1ch;}

.b1abgaw2[class][class]{display:inline;}

.dir.b1abgaw2[class][class]{border-radius:1ch;border:1px solid black;padding:1ch;}
.dbldy2s[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.dbldy2s[class][class]{border:0;padding:0;}
.c1rof7hu[class][class]{pointer-events:auto;}

.b1ap2j3w[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b1ap2j3w[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1ap2j3w[class][class]:disabled{opacity:0.3;}

.dir.b1ap2j3w[class][class]:disabled{cursor:not-allowed;}

.vk6ligm[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;padding:14px 24px;transition:box-shadow 0.2s ease,transform 0.1s ease;outline:none;align-items:center;display:inline-flex;justify-content:center;-webkit-transition:-webkit-transform 0.25s ease;width:calc(12px + var(--b-y-unon));height:calc(12px + var(--b-y-unon));}

.dir.vk6ligm[class][class]{border-width:1px;border-style:solid;background-color:rgba(0,0,0,0.4);border-radius:50%;border:none;transition:transform 0.25s ease;padding:0;margin:var(--close-button_margin,var(--h-x-sf-jw));}

@media (prefers-reduced-motion:reduce){
.dir.vk6ligm[class][class]{transition:none;}}

.dir.vk6ligm[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.vk6ligm[class][class]:focus::-moz-focus-inner{border:none;}

.vk6ligm[class][class]:-moz-focusring{outline:none;}

.dir.vk6ligm[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vk6ligm[class][class]:focus-visible{transition:none;}}

.dir.vk6ligm[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vk6ligm[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.vk6ligm[class][class]:active{transform:scale(0.96);}

.vk6ligm[class][class]:disabled{opacity:1;}

.dir.vk6ligm[class][class]:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.vk6ligm[class][class]:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.vk6ligm[class][class]:active{transform:scale(0.92);}
.c1hv59mj[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;outline:0;margin:-7px;padding:7px;color:buttontext;background-color:transparent;touch-action:manipulation;display:inline-flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;width:32px;height:32px;}

.dir.c1hv59mj[class][class]{border-radius:50%;border:0;cursor:pointer;border-style:solid;border-width:1px;padding:0;margin:0;background-clip:padding-box;background-color:rgba(255,255,255,0.9);border-color:rgba(0,0,0,0.08);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--e-swdx-p);transition:transform 0.25s ease;}

.c1hv59mj[class][class]:focus-visible{outline:none;}

.dir.c1hv59mj[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1hv59mj[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1hv59mj[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1hv59mj[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus-visible{transition:none;}}

.c1hv59mj[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1hv59mj[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1hv59mj[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1hv59mj[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]{transition:none;}}

.dir.c1hv59mj[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1hv59mj[class][class]:focus::-moz-focus-inner{border:none;}

.c1hv59mj[class][class]:-moz-focusring{outline:none;}

.c1hv59mj[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c1hv59mj[class][class]:focus-visible{transition:box-shadow 0.2s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus-visible{transition:none;}}

.c1hv59mj[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.c1hv59mj[class][class]:hover{color:var(--bgxgx);}

.dir.c1hv59mj[class][class]:hover{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--cizosd);transform:scale(1.04);}}

.c1hv59mj[class][class]:active{color:var(--bgxgx);}

.dir.c1hv59mj[class][class]:active{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.c1hv59mj[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1hv59mj[class][class]:disabled{border-color:var(--j-qkgmf);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.bsqgmsg[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bsqgmsg[class][class]:not(:focus){border:0;padding:0;}

.b3p4o08[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3p4o08[class][class]:not(:focus){border:0;padding:0;}
.g14v8520[class][class]{display:grid;grid-auto-flow:row dense;grid-auto-rows:var( --breakpoint-grid_auto-rows, minmax(-webkit-min-content,-webkit-max-content) );grid-auto-rows:var( --breakpoint-grid_auto-rows, minmax(min-content,max-content) );grid-gap:var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);grid-template-columns:var( --breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );}
