.t1jojoys[class][class]{line-height:inherit;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:var(--title_max-num-lines,1);color:var(--f-k-smk-x);font-weight:var(--jx-zk-pv);word-break:var(--title_word-break,break-all);}

@supports (overflow:clip){
.t1jojoys[class][class]{overflow:clip;}}
.r4a59j5[class][class]{align-items:center;display:flex;}

.dir.r4a59j5[class][class] > :not(:first-child){-webkit-margin-start:var(--h-x-sf-jw);margin-inline-start:var(--h-x-sf-jw);}

.su0q88m[class][class]{align-items:center;color:var(--f-k-smk-x);}

.r1dxllyb[class][class]{color:var(--f-k-smk-x);font-feature-settings:"tnum";font-variant-numeric:tabular-nums;}
.o1q97y5m[class][class]{display:flex;flex:1;flex-flow:column;top:0;bottom:0;overflow:hidden;pointer-events:none;position:absolute;}

.dir.o1q97y5m[class][class]{left:0;right:0;padding:var( --media-overlay_padding, var(--b-y-unon) var(--b-y-unon) 0 );}

.o1q97y5m[class][class] > *{flex:1 0;}

.tsz9f4o[class][class]{display:grid;grid-column-gap:var(--jaa-ni-h);grid-template-columns:repeat(2,minmax(-webkit-min-content,auto));grid-template-columns:repeat(2,minmax(min-content,auto));}

.t1p13dzz[class][class]{justify-self:flex-start;}

.ts9x1g6[class][class]{justify-self:flex-end;}

.m1dum4mk[class][class]{align-items:center;display:grid;grid-column-gap:var(--jaa-ni-h);grid-template-columns:repeat(2,minmax(-webkit-min-content,auto));grid-template-columns:repeat(2,minmax(min-content,auto));}

.m1tlldn6[class][class]{justify-self:flex-start;}

.ms83rji[class][class]{justify-self:flex-end;}

.b1tv82fw[class][class]{align-items:flex-end;display:grid;grid-column-gap:var(--jaa-ni-h);grid-template-columns:repeat(3,minmax(-webkit-min-content,1fr));grid-template-columns:repeat(3,minmax(min-content,1fr));}

.bycbjmy[class][class]{justify-self:flex-start;}

.balhpdq[class][class]{justify-self:center;}

.b18glxm4[class][class]{justify-self:flex-end;}
.cy5jw6o[class][class]{max-width:var(--card-container_max-width,none);min-width:var(--card-container_min-width,0);position:relative;width:var(--card-container_width,auto);}

.dir.cy5jw6o[class][class]{border-radius:var(--card-container_border-radius,var(--i-g-gvoq));box-shadow:var(--card-container_box-shadow,none);}

.bn2bl2p[class][class]{display:block;height:100%;position:absolute;top:0;width:100%;outline:none;}

.dir.bn2bl2p[class][class]{border-radius:var(--card-container_border-radius,var(--i-g-gvoq));background:transparent;border:none;}

.dir-ltr.bn2bl2p[class][class]{left:0;}

.dir-rtl.bn2bl2p[class][class]{right:0;}

.dir.bn2bl2p[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.bn2bl2p[class][class]:focus::-moz-focus-inner{border:none;}

.bn2bl2p[class][class]:-moz-focusring{outline:none;}

@media (min-width:744px){
.dir.bn2bl2p[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.bn2bl2p[class][class]:focus-visible{transition:none;}}

.dir.bn2bl2p[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.bn2bl2p[class][class]:focus[data-focus-visible-added]{transition:none;}}}
.f15liw5s[class][class]{grid-column:1 / -1;}

.t5eq1io[class][class]{grid-column:-2 / -1;grid-row:1;justify-self:end;}

.cb4nyux[class][class]{display:grid;gap:var(--card-content-grid_gap,var(--h-x-sf-jw));grid-template-columns:var( --card-content-grid_template-columns, minmax(0,1fr) -webkit-max-content );grid-template-columns:var( --card-content-grid_template-columns, minmax(0,1fr) max-content );grid-template-rows:var(--card-content-grid_template-rows,unset);}
.lwy0wad[class][class]{display:flex;flex:1 0 100%;flex-direction:var(--card-layout_flex-direction);}
.s1cjsi4j[class][class]{line-height:inherit;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--fo-jk-r-s);}

@supports (overflow:clip){
.s1cjsi4j[class][class]{overflow:clip;}}
.r14mr20j[class][class]{align-items:center;color:var(--formatted-badge_text-color,var(--f-k-smk-x));display:inline-flex;font-weight:var(--jx-zk-pv);height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;max-width:100%;}

.dir.r14mr20j[class][class]{background-clip:padding-box;background-color:var(--formatted-badge_background-color,var(--f-mkcy-f));border-radius:var(--h-l-f-om-o);padding:var(--h-x-sf-jw) var(--fgg-f-l-a);}

.t1mwk1n0[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.t1mwk1n0[class][class]{overflow:clip;}}
.dir.b1b9hiva[class][class]{margin-top:3px;}

.dir-ltr.b1b9hiva[class][class]{margin-left:3px;}

.dir-rtl.b1b9hiva[class][class]{margin-right:3px;}

.dir-ltr.o47luuh[class][class]{background:linear-gradient(180deg,transparent 80%,rgba(0,0,0,0.25));}

.dir-rtl.o47luuh[class][class]{background:linear-gradient(-180deg,transparent 80%,rgba(0,0,0,0.25));}
.cendrgz[class][class]{--save-button_height:calc(24px + var(--fgg-f-l-a));--save-button_width:calc(24px + var(--fgg-f-l-a));}

.bq05a0m[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.bq05a0m[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bq05a0m[class][class]:disabled{opacity:0.3;}

.dir.bq05a0m[class][class]:disabled{cursor:not-allowed;}

.vq7srz5[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;padding:14px 24px;transition:box-shadow 0.2s ease,transform 0.1s ease;outline:none;align-items:center;color:var(--f-k-smk-x);display:inline-flex;justify-content:center;-webkit-transition:-webkit-transform 0.25s ease;width:calc(24px + var(--fgg-f-l-a));height:calc(24px + var(--fgg-f-l-a));}

.dir.vq7srz5[class][class]{border-width:1px;border-style:solid;background-color:transparent;border-radius:50%;border:none;transition:transform 0.25s ease;margin:-2px 0 0;padding:2px 0 0 0;}

@media (prefers-reduced-motion:reduce){
.dir.vq7srz5[class][class]{transition:none;}}

.dir.vq7srz5[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.vq7srz5[class][class]:focus::-moz-focus-inner{border:none;}

.vq7srz5[class][class]:-moz-focusring{outline:none;}

.dir.vq7srz5[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vq7srz5[class][class]:focus-visible{transition:none;}}

.dir.vq7srz5[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vq7srz5[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.vq7srz5[class][class]:active{transform:scale(0.96);}

.vq7srz5[class][class]:disabled{opacity:1;}

.dir.vq7srz5[class][class]:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.vq7srz5[class][class]:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.vq7srz5[class][class]:active{transform:scale(0.92);}
.ckqgked[class][class]{pointer-events:auto;height:var(--save-button_height,auto);width:var(--save-button_width,auto);}
.s134m7bb[class][class]{pointer-events:auto;}

.swcqrz4[class][class]{opacity:1;visibility:visible;}

.dir.swcqrz4[class][class]{animation-duration:0.3s;animation-name:fade-in-swcqrz4;}

@media (prefers-reduced-motion:reduce){
.dir.swcqrz4[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-swcqrz4{
from{opacity:0;}

to{opacity:1;}}

.sqd06yw[class][class]{opacity:0;}

.dir.sqd06yw[class][class]{animation-duration:0;}

.s1tdgjmu[class][class]{visibility:hidden;}
.dir.c1txdxuw[class][class]{margin-bottom:var(--b-y-unon);}
.c1fnij9i[class][class]{transform-style:preserve-3d;position:relative;height:72px;width:64px;-ms-perspective:1200px;perspective:1200px;pointer-events:auto;-webkit-tap-highlight-color:transparent;}

.dir.c1fnij9i[class][class]{border:none;cursor:pointer;}

.dir-ltr.c1fnij9i[class][class]{-ms-perspective-origin:0 -400%;perspective-origin:0 -400%;margin-left:auto;}

.dir-rtl.c1fnij9i[class][class]{-ms-perspective-origin:100% -400%;perspective-origin:100% -400%;margin-right:auto;}

.dir-ltr.cck1ct4[class][class]{-ms-perspective-origin:0 -400%;perspective-origin:0 -400%;}

.dir-rtl.cck1ct4[class][class]{-ms-perspective-origin:100% -400%;perspective-origin:100% -400%;}

.citg9g6[class][class]{height:230px;width:50%;}

.dir.citg9g6[class][class]{background-color:var(--f-mkcy-f);}

.dir-ltr.citg9g6[class][class]{-ms-perspective-origin:0 0;perspective-origin:0 0;border-radius:0 24px 24px 0;}

.dir-rtl.citg9g6[class][class]{-ms-perspective-origin:100% 0;perspective-origin:100% 0;border-radius:24px 0 0 24px;}

.fgflrdc[class][class]{transform-style:preserve-3d;position:absolute;width:100%;height:100%;top:0;}

.dir.fgflrdc[class][class]{box-shadow:0 4px 9px rgba(0,0,0,0.05),0 10px 30px rgba(0,0,0,0.1);background-color:var(--f-mkcy-f);}

.dir-ltr.fgflrdc[class][class]{left:0;transform-origin:left center;border-radius:2px 8px 8px 2px;}

.dir-rtl.fgflrdc[class][class]{right:0;transform-origin:right center;border-radius:8px 2px 2px 8px;}

.dir.ffm51k1[class][class]{background-color:var(--f-mkcy-f);}

.dir.f19c87xu[class][class]{background-color:var(--f-mkcy-f);box-shadow:0 4px 9px rgba(0,0,0,0.05),0 10px 30px rgba(0,0,0,0.16);}

.dir-ltr.f19c87xu[class][class]{transform:rotateY(-180deg);border-radius:0 24px 24px 0;}

.dir-rtl.f19c87xu[class][class]{transform:rotateY(180deg);border-radius:24px 0 0 24px;}

.f1o6vchm[class][class]{width:42px;height:42px;}

.dir.fy8kw8n[class][class]{transform:scale(2.656,3.1994);}

.bpi9i9p[class][class]{transform-style:preserve-3d;position:absolute;width:100%;height:100%;top:0;-webkit-transition:-webkit-transform 0.5s var(--j-cm-lxz);display:flex;justify-content:flex-end;align-items:center;}

.dir.bpi9i9p[class][class]{transition:transform 0.5s var(--j-cm-lxz);box-shadow:0 4px 9px rgba(0,0,0,0.05),0 10px 30px rgba(0,0,0,0.16);background-color:var(--f-mkcy-f);}

.dir-ltr.bpi9i9p[class][class]{left:0;transform-origin:left center;padding-right:var(--ikx-k-pe);border-bottom-right-radius:var(--go-h-jh-l);border-top-right-radius:var(--go-h-jh-l);border-bottom-left-radius:2px;border-top-left-radius:2px;}

.dir-rtl.bpi9i9p[class][class]{right:0;transform-origin:right center;padding-left:var(--ikx-k-pe);border-bottom-left-radius:var(--go-h-jh-l);border-top-left-radius:var(--go-h-jh-l);border-bottom-right-radius:2px;border-top-right-radius:2px;}

.dir.bvrqn21[class][class]{box-shadow:0 4px 9px rgba(0,0,0,0.05),0 10px 30px rgba(0,0,0,0.16);}

.dir.b1mng5g8[class][class]{transform:rotateY(0deg);box-shadow:0 4px 9px rgba(0,0,0,0.05),0 10px 30px rgba(0,0,0,0.16);}

.dir-ltr.b1mng5g8[class][class]{border-radius:0 24px 24px 0;}

.dir-rtl.b1mng5g8[class][class]{border-radius:24px 0 0 24px;}

.mz1vez2[class][class]{width:calc(100% + 32px);max-width:178px;height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;display:flex;justify-content:center;align-items:center;flex-direction:column;}

.dir.mz1vez2[class][class]{background-color:var(--f-mkcy-f);}

.dir-ltr.mz1vez2[class][class]{transform:rotateY(180deg) scale(0.375,0.3125) translateX(28px);border-radius:24px 0 0 24px;}

.dir-rtl.mz1vez2[class][class]{transform:rotateY(-180deg) scale(0.375,0.3125) translateX(-28px);border-radius:0 24px 24px 0;}

.dir.mbzw8ad[class][class]{text-align:center;}

.dir-ltr.m1ivwctw[class][class]{transform:rotateY(180deg) scale(1) translateX(28px);}

.dir-rtl.m1ivwctw[class][class]{transform:rotateY(-180deg) scale(1) translateX(-28px);}

.dir-ltr.m18czxkv[class][class]{transform:rotateY(180deg) scale(1) translateX(50%);}

.dir-rtl.m18czxkv[class][class]{transform:rotateY(-180deg) scale(1) translateX(-50%);}

.f9tv065[class][class]{-webkit-backface-visibility:hidden;backface-visibility:hidden;color:var(--f-mkcy-f);width:100%;height:100%;position:absolute;display:flex;justify-content:center;align-items:center;}

.dir.f9tv065[class][class]{box-shadow:0 8px 8px rgba(0,0,0,0.15),0 2px 3px rgba(0,0,0,0.3), inset 0 -0.5px 0.5px rgba(0,0,0,0.4),inset 0 1px 2px var(--f-mkcy-f), inset 0 -1px 2px rgba(0,0,0,0.3);transform:scale(1);}

.dir-ltr.f9tv065[class][class]{background:linear-gradient(317.5deg,#f2f2f2 0%,var(--f-mkcy-f) 98.91%);border-bottom-right-radius:var(--go-h-jh-l);border-top-right-radius:var(--go-h-jh-l);border-bottom-left-radius:2px;border-top-left-radius:2px;}

.dir-rtl.f9tv065[class][class]{background:linear-gradient(-317.5deg,#f2f2f2 0%,var(--f-mkcy-f) 98.91%);border-bottom-left-radius:var(--go-h-jh-l);border-top-left-radius:var(--go-h-jh-l);border-bottom-right-radius:2px;border-top-right-radius:2px;}

.f9tv065[class][class]::after{content:'';display:block;width:2px;height:100%;position:absolute;top:0;background-blend-mode:multiply;}

.dir.f9tv065[class][class]::after{background:var(--d-nc-lt-s);}

.dir-ltr.f9tv065[class][class]::after{left:3px;}

.dir-rtl.f9tv065[class][class]::after{right:3px;}

.p1hus6fx[class][class]{position:relative;width:104px;height:104px;}

.n17199hi[class][class]{font-size:var(--cv-p-u-ui);line-height:var(--hu-t-o-g-n);font-weight:var(--h-oqhch);color:var(--f-k-smk-x);}

.dir.n17199hi[class][class]{margin-top:var(--fgg-f-l-a);}

.tiaotj0[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--jx-zk-pv);color:var(--f-k-smk-x);display:flex;align-items:center;justify-content:center;gap:var(--d-b-mrdy);}

.sgt1d1f[class][class]{width:32px;height:32px;position:absolute;bottom:0;display:flex;justify-content:center;align-items:center;}

.dir.sgt1d1f[class][class]{border-radius:50%;}

.dir-ltr.sgt1d1f[class][class]{background:linear-gradient(90deg,#e61e4d 1.83%,#e31c5f 50.07%,#d70466 96.34%);right:-8px;}

.dir-rtl.sgt1d1f[class][class]{background:linear-gradient(-90deg,#e61e4d 1.83%,#e31c5f 50.07%,#d70466 96.34%);left:-8px;}

.s1jadqa0[class][class]{width:100%;max-width:92px;display:flex;flex-direction:column;gap:var(--ikx-k-pe);color:var(--f-k-smk-x);}

.dir.s1jadqa0[class][class]{transform:scale(0.375,0.3125);}

.dir.s1r2voee[class][class]{transform:scale(1);}

.s1iuhka1[class][class]{position:relative;}

.s1iuhka1[class][class]::after{content:'';display:block;width:92px;height:1px;position:absolute;bottom:-12px;opacity:0.75;}

.dir.s1iuhka1[class][class]::after{background:var(--j-qkgmf);}

.dir-ltr.s1iuhka1[class][class]::after{left:0;}

.dir-rtl.s1iuhka1[class][class]::after{right:0;}

.s1iuhka1[class][class]:last-child::after{display:none;}

.s1i986cw[class][class]{font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);font-weight:var(--h-oqhch);-webkit-letter-spacing:-0.02em;-moz-letter-spacing:-0.02em;-ms-letter-spacing:-0.02em;letter-spacing:-0.02em;}

.s1ujpqo1[class][class]{font-size:var(--hr-k-udr);line-height:var(--dpgw-ac);font-weight:var(--jx-zk-pv);line-height:14px;}
.c14dgvke[class][class]{overflow:hidden;pointer-events:var(--media-container_pointer-events,auto);position:relative;z-index:0;}

.dir.c14dgvke[class][class]{border-radius:var(--media-container_border-radius,var(--i-g-gvoq));background-color:var(--j-qkgmf);}

@supports (overflow:clip){
.c14dgvke[class][class]{overflow:clip;}}
.cnjlbcx[class][class]{--contentscroller_contain:none;--contentscroller_content-visibility:unset;--contentscroller_controls_z-index:1;--contentscroller_gap:0px;--contentscroller_height:100%;--contentscroller_overflow:hidden;--contentscroller_peek:0;--contentscroller_scrollsnapstop:always;--contentscroller_visible-items:1;}

.cp0pqp0[class][class]{--contentscroller_contain:layout paint size style;--contentscroller_overflow:visible hidden;}
.rfexzly[class][class]{display:block;color:transparent;}

.cjv59qb[class][class]{position:relative;width:100%;height:100%;}
.t6mzqp7[class][class]{line-height:inherit;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--fo-jk-r-s);flex:1 0 0%;white-space:break-spaces;}

@supports (overflow:clip){
.t6mzqp7[class][class]{overflow:clip;}}
.s1j07bg1[class][class]{-webkit-text-decoration:line-through;text-decoration:line-through;}
