.czcfm7x[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;}

.dir.czcfm7x[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.czcfm7x[class][class]:focus-visible{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.czcfm7x[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.czcfm7x[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.czcfm7x[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]{transition:none;}}

@media (hover:hover){
.czcfm7x[class][class]:hover{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:hover::before{background:var(---pc-g-v-g);}}

.czcfm7x[class][class]:active{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:active{transform:scale(0.92);}

.dir.czcfm7x[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:-moz-focusring{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.dir.czcfm7x[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.czcfm7x[class][class]:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:disabled::before{background:transparent;}

.czcfm7x[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.czcfm7x[class][class]::before{border-radius:50%;}

.dir-ltr.czcfm7x[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.czcfm7x[class][class]::before{right:50%;transform:translate(50%,-50%);}

.czcfm7x[class][class]::before{width:32px;height:32px;}

.i1h5tsj6[class][class]{position:relative;}

.b3tjjh1[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3tjjh1[class][class]:not(:focus){border:0;padding:0;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}
