.l1y33fc9[class][class]{font-size:14px;}

.dir.e1y2btt5[class][class]{margin-bottom:var(--kksqe-v);}
.c1pyv925[class][class]{color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;touch-action:manipulation;}

.dir.c1pyv925[class][class]{background:transparent;border:none;cursor:pointer;margin:0;padding:0;text-align:inherit;}
.c1g7t51g[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1g7t51g[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1g7t51g[class][class]{padding-left:16px;}

.dir-rtl.c1g7t51g[class][class]{padding-right:16px;}

.c1btyv8m[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;}

.dir.c1btyv8m[class][class]{margin-top:12px;}

.dir-ltr.c1btyv8m[class][class]{padding-right:8px;}

.dir-rtl.c1btyv8m[class][class]{padding-left:8px;}

.m1gmr2ly[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m6n2ow2[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.m6n2ow2[class][class]{margin-top:12px;}

.dir-ltr.m6n2ow2[class][class]{margin-right:16px;}

.dir-rtl.m6n2ow2[class][class]{margin-left:16px;}

.dir.c1e276u6[class][class]{margin-top:6px;}

.dir-ltr.c1e276u6[class][class]{margin-right:16px;}

.dir-rtl.c1e276u6[class][class]{margin-left:16px;}
