.l10z3xfh[class][class]{display:flex;align-items:center;font-weight:var(--jx-zk-pv);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.l10z3xfh[class][class]{padding:9px 12px;cursor:pointer;}

.dir-ltr.l1c4s44y[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-rtl.l1c4s44y[class][class]{margin-right:var(--fgg-f-l-a);}
