.c1th86dr[class][class]{--contentscroller_contain:none;--contentscroller_gap:0px;--contentscroller_peek:0;--contentscroller_scrollsnapstop:always;--contentscroller_visible-items:1;--contentscroller_overflow:hidden;--contentscroller_content-visibility:auto;--contentscroller_controls_z-index:1;--contentscroller_height:100%;}

.c1jlwpie[class][class]{--contentscroller_overflow:visible hidden;--contentscroller_contain:layout paint size;}
.cini325[class][class]{position:absolute;bottom:0;display:flex;align-items:flex-end;justify-content:center;min-height:var(--f-fw-z-a-i);white-space:nowrap;}

.dir.cini325[class][class]{left:0;right:0;}
.r1iccxvp[class][class]{display:block;width:100%;height:100%;}
.nckwpl[class][class]{position:absolute;top:50%;pointer-events:auto;}

.dir.nckwpl[class][class]{transform:translateY(-50%);}

.dir-ltr.n1a3583r[class][class]{right:var(--fgg-f-l-a);}

.dir-rtl.n1a3583r[class][class]{left:var(--fgg-f-l-a);}

.dir-ltr.n8ds5k6[class][class]{left:var(--fgg-f-l-a);}

.dir-rtl.n8ds5k6[class][class]{right:var(--fgg-f-l-a);}

.ni7lfv1[class][class]{opacity:1;visibility:visible;}

.dir.ni7lfv1[class][class]{animation-duration:0.3s;animation-name:fade-in-ni7lfv1;}

@media (prefers-reduced-motion:reduce){
.dir.ni7lfv1[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-ni7lfv1{
from{opacity:0;}

to{opacity:1;}}

.nh16i3g[class][class]{opacity:0;}

.dir.nh16i3g[class][class]{animation-duration:0;}

.ns8ksw6[class][class]{visibility:hidden;}
.lmc5dy3[class][class]{display:block;width:100%;height:100%;}
.o1mwbk2f[class][class]{display:grid;grid-template-columns:minmax(0,1fr);grid-template-rows:repeat(3,1fr);top:0;bottom:0;position:absolute;pointer-events:none;}

.dir.o1mwbk2f[class][class]{right:0;left:0;}

.dir.o1s954ha[class][class]{border-bottom-left-radius:var(--h-l-f-om-o);border-bottom-right-radius:var(--h-l-f-om-o);}

.dir-ltr.o1s954ha[class][class]{background:linear-gradient(180deg,transparent 80%,rgba(0,0,0,0.25));}

.dir-rtl.o1s954ha[class][class]{background:linear-gradient(-180deg,transparent 80%,rgba(0,0,0,0.25));}

.t1vo9cyh[class][class]{display:flex;justify-content:space-between;}

.dir.t1vo9cyh[class][class]{padding:var(--media-overlay_top-row-padding);}

.w7yq9yf[class][class]{pointer-events:auto;}

.dir.w7yq9yf[class][class]{margin-top:-5px;}

.dir-ltr.w7yq9yf[class][class]{margin-right:-3px;}

.dir-rtl.w7yq9yf[class][class]{margin-left:-3px;}

.m1uacxyo[class][class]{display:flex;align-items:center;justify-content:space-between;flex-wrap:nowrap;flex:1;visibility:hidden;}

.mjw3bpi[class][class]{opacity:1;visibility:visible;}

.dir.mjw3bpi[class][class]{animation-duration:0.3s;animation-name:fade-in-mjw3bpi;}

@media (prefers-reduced-motion:reduce){
.dir.mjw3bpi[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-mjw3bpi{
from{opacity:0;}

to{opacity:1;}}

.miui26z[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.miui26z[class][class]{border:0;padding:0;}

.nhc5psg[class][class]{pointer-events:auto;}

.dir.nhc5psg[class][class]{border:0;background-color:transparent;}

.dir-ltr.n1f034oj[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.n1f034oj[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-ltr.ni0gafq[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-rtl.ni0gafq[class][class]{margin-right:var(--fgg-f-l-a);}

.b1aww0y7[class][class]{display:flex;justify-content:center;white-space:nowrap;}
@supports (aspect-ratio:1 / 1){
.awuxh4x[class][class]{aspect-ratio:var(--aspect_ratio_wrapper-ratio,unset);}}

@supports not (aspect-ratio:1 / 1){
.awuxh4x[class][class]{position:var(--aspect_ratio_wrapper-position_fallback,unset);}

.dir.awuxh4x[class][class]{padding-top:var(--aspect_ratio_wrapper-padding_fallback,0);}}

.cw9aemg[class][class]{height:100%;min-width:0;position:unset;}

@supports not (aspect-ratio:1 / 1){
.cw9aemg[class][class]{position:absolute;height:100%;width:100%;top:0;bottom:0;}

.dir.cw9aemg[class][class]{left:0;right:0;}}
.s1yvqyx7[class][class]{grid-area:var(--contentscroller_scroller_grid-area,scroller);-webkit-margin-before:var(--contentscroller_scroller_margin-block-start,unset);margin-block-start:var(--contentscroller_scroller_margin-block-start,unset);-webkit-margin-after:var(--contentscroller_scroller_margin-block-end,unset);margin-block-end:var(--contentscroller_scroller_margin-block-end,unset);place-self:var(--contentscroller_scroller_place-self,auto);}

.dir.s1yvqyx7[class][class]{-webkit-margin-start:var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );margin-inline-start:var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );-webkit-margin-end:var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );margin-inline-end:var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );padding:var(--contentscroller_scroller_padding,0);}

.c18vjgz6[class][class]{grid-area:var(--contentscroller_controls_grid-area,header);-webkit-margin-before:var(--contentscroller_controls_margin-block-start,unset);margin-block-start:var(--contentscroller_controls_margin-block-start,unset);-webkit-margin-after:var(--contentscroller_controls_margin-block-end,unset);margin-block-end:var(--contentscroller_controls_margin-block-end,unset);place-self:var(--contentscroller_controls_place-self,auto end);pointer-events:var(--contentscroller_controls_pointer-events);z-index:var(--contentscroller_controls_z-index,auto);}

.dir.c18vjgz6[class][class]{-webkit-margin-start:var(--contentscroller_controls_margin-inline-start,unset);margin-inline-start:var(--contentscroller_controls_margin-inline-start,unset);-webkit-margin-end:var(--contentscroller_controls_margin-inline-end,unset);margin-inline-end:var(--contentscroller_controls_margin-inline-end,unset);}

.t14s0ksq[class][class]{grid-area:var(--contentscroller_trailing-controls_grid-area,footer);-webkit-margin-before:var( --contentscroller_trailing-controls_margin-block-start, unset );margin-block-start:var( --contentscroller_trailing-controls_margin-block-start, unset );-webkit-margin-after:var(--contentscroller_trailing-controls_margin-block-end,unset);margin-block-end:var(--contentscroller_trailing-controls_margin-block-end,unset);place-self:var(--contentscroller_trailing-controls_place-self,auto end);pointer-events:var(--contentscroller_trailing-controls_pointer-events);z-index:var(--contentscroller_trailing-controls_z-index,auto);}

.dir.t14s0ksq[class][class]{-webkit-margin-start:var( --contentscroller_trailing-controls_margin-inline-start, unset );margin-inline-start:var( --contentscroller_trailing-controls_margin-inline-start, unset );-webkit-margin-end:var(--contentscroller_trailing-controls_margin-inline-end,unset);margin-inline-end:var(--contentscroller_trailing-controls_margin-inline-end,unset);}

.hztl681[class][class]{grid-area:var(--contentscroller_header_grid-area,header);place-self:var(--contentscroller_header_place-self,auto);}

.rd7fm2t[class][class]{display:grid;grid-template:var( --contentscroller_layout_grid-template, 'header' 'scroller' 'footer' / minmax(0,1fr) );}
.c14whb16[class][class]{contain:var(--contentscroller_contain);contain-intrinsic-size:var(--contentscroller_contain-intrinsic-size);content-visibility:var(--contentscroller_content-visibility);display:grid;grid-auto-flow:column;grid-auto-columns:var( --contentscroller_auto-columns, calc( ( 100% - var(--contentscroller_gap,16px) * (var(--contentscroller_visible-items,unset) - 1) ) / var(--contentscroller_visible-items,unset) ) );gap:var(--contentscroller_gap,16px);grid-template-rows:var(--contentscroller_rows,none);grid-template-areas:var(--contentscroller_areas,none);justify-content:flex-start;min-height:var(--contentscroller_min-height);height:var(--contentscroller_height);overflow:var(--contentscroller_overflow,auto hidden);overscroll-behavior-inline:contain;-webkit-padding-before:var(--contentscroller_padding-block-start,unset);padding-block-start:var(--contentscroller_padding-block-start,unset);-webkit-padding-after:var(--contentscroller_padding-block-end,unset);padding-block-end:var(--contentscroller_padding-block-end,unset);-webkit-scroll-padding-inline:var(--contentscroller_peek,32px);-moz-scroll-padding-inline:var(--contentscroller_peek,32px);-ms-scroll-padding-inline:var(--contentscroller_peek,32px);scroll-padding-inline:var(--contentscroller_peek,32px);-webkit-scrollbar-width:none;-moz-scrollbar-width:none;-ms-scrollbar-width:none;scrollbar-width:none;touch-action:var(--contentscroller_touch-action,pan-x pan-y pinch-zoom);}

.dir.c14whb16[class][class]{margin:0;-webkit-padding-start:var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );padding-inline-start:var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );-webkit-padding-end:var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );padding-inline-end:var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );}

@supports (-webkit-scroll-behavior:smooth) or (-moz-scroll-behavior:smooth) or (-ms-scroll-behavior:smooth) or (scroll-behavior:smooth){
.c14whb16[class][class]{-moz-scroll-snap-type:var(--contentscroller_scrollsnaptype,inline mandatory);scroll-snap-type:var(--contentscroller_scrollsnaptype,inline mandatory);}}

.c14whb16[class][class]::-webkit-scrollbar{display:none;}

.c14whb16[class][class] > :nth-child(n){-webkit-scroll-snap-align:var(--contentscroller_scrollsnapalign,start);-moz-scroll-snap-align:var(--contentscroller_scrollsnapalign,start);-ms-scroll-snap-align:var(--contentscroller_scrollsnapalign,start);scroll-snap-align:var(--contentscroller_scrollsnapalign,start);-webkit-scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);-moz-scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);-ms-scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);scroll-snap-stop:var(--contentscroller_scrollsnapstop,normal);}
.r14q8jov[class][class]{display:flex;gap:1ch;}

.b1abgaw2[class][class]{display:inline;}

.dir.b1abgaw2[class][class]{border-radius:1ch;border:1px solid black;padding:1ch;}
.dbldy2s[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.dbldy2s[class][class]{border:0;padding:0;}
