.cqpoejt[class][class]{display:flex;flex-direction:row;align-items:center;justify-content:center;pointer-events:none;}

.dir-ltr.l6j2pr8[class][class]{margin-left:-6px;margin-right:4px;}

.dir-rtl.l6j2pr8[class][class]{margin-right:-6px;margin-left:4px;}

.dir-ltr.tfay7j1[class][class]{margin-left:4px;margin-right:-6px;}

.dir-rtl.tfay7j1[class][class]{margin-right:4px;margin-left:-6px;}
