.atm_9s_1txwivl{display:flex;}

.atm_bx_1ltc5j7.atm_bx_1ltc5j7{font-family:var(--e-ls-qkw);}

.atm_c8_exq1xd.atm_c8_exq1xd{font-size:var(--ll-l-ys-f);}

.atm_g3_1pezo5y.atm_g3_1pezo5y{line-height:var(--f-xgviq);}

.atm_7l_18pqv07{color:var(--f-k-smk-x);}

.dir.atm_h3_yh40bf.atm_h3_yh40bf{margin-top:2px;}

.dir-ltr.atm_gz_exct8b.atm_gz_exct8b{margin-left:16px;}

.dir-rtl.atm_gz_exct8b.atm_gz_exct8b{margin-right:16px;}
