.a8jt5op[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.a8jt5op[class][class]{border:0;padding:0;}
.l7n4lsf[class][class]:nth-of-type(1n){display:inline-block;}

.axjq0r[class][class]{display:none;}

.dir.lgx66tx[class][class]{margin:0;padding:0;}

.s1b4clln[class][class]{pointer-events:none;-webkit-user-select:none;user-select:none;white-space:pre-wrap;}

.dir.s1b4clln[class][class]{padding-left:0;padding-right:0;}
.atm_9m99np_1o8liyq:nth-of-type(1n){display:inline-block;}

.atm_9s_glywfm{display:none;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.tyo2fgq[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tyo2fgq[class][class]{left:0;right:0;}

.t1setlb[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;}

.dir.t1setlb[class][class]{background-size:200% 200%;transition:opacity 1.25s;}

.dir-ltr.t1setlb[class][class]{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir-rtl.t1setlb[class][class]{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);}

.t1setlb[class][class]:hover{opacity:1;}

.t1setlb[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t1setlb[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.cbx4cei[class][class]{display:block;position:relative;pointer-events:none;}

.l1j9v1wn[class][class].dir-rtl[class][class]{--dc-gy-f-v:var(--bb-gov-t);--gj-z-dpd:var(--fb-hdaf);--iqds-nv:var(--dy-k-qzx);}
