.c61fd4t[class][class]{-webkit-margin-before:var(--ikx-k-pe);margin-block-start:var(--ikx-k-pe);-webkit-margin-after:var(--ikx-k-pe);margin-block-end:var(--ikx-k-pe);}

@media (min-width:1128px){
.c61fd4t[class][class]{-webkit-margin-before:var(--fgg-f-l-a);margin-block-start:var(--fgg-f-l-a);-webkit-margin-after:var(--kksqe-v);margin-block-end:var(--kksqe-v);}}

.c1885bm1[class][class]{-webkit-margin-before:0;margin-block-start:0;-webkit-margin-after:0;margin-block-end:0;}

@media (min-width:744px){
.c1885bm1[class][class]{-webkit-margin-before:var(--jhzm-v-t);margin-block-start:var(--jhzm-v-t);-webkit-margin-after:var(--f-fw-z-a-i);margin-block-end:var(--f-fw-z-a-i);}}

@media (min-width:1128px){
.c1885bm1[class][class]{-webkit-margin-before:var(--jhzm-v-t);margin-block-start:var(--jhzm-v-t);-webkit-margin-after:var(--f-fw-z-a-i);margin-block-end:var(--f-fw-z-a-i);}}

.dir.f1rivgsm[class][class]{animation-name:fade-in-f1rivgsm;animation-duration:800ms;animation-fill-mode:both;animation-delay:200ms;}

@keyframes fade-in-f1rivgsm{
from{opacity:0;}

to{opacity:1;}}

.s1aegr2i[class][class]{width:100%;}

.dir.s1aegr2i[class][class]{border-top:1px solid var(--j-qkgmf);margin-top:40px;}

.s13w36ow[class][class]{font-size:18px;line-height:22px;font-weight:600;}

.dir.s13w36ow[class][class]{text-align:center;margin-top:56px;}

.s1o6rw2p[class][class]{width:100%;display:flex;justify-content:center;}

.dir.s1o6rw2p[class][class]{margin-top:24px;margin-bottom:80px;}

.fuxjg6g[class][class]{grid-column:1 / -1;}

.d479qfo[class][class]{--dls-shimmer-animation:none;}
.c10c5g9q[class][class]{grid-column:1 / -1;}

.dir.c10c5g9q[class][class]{margin-bottom:-16px;}

@media (min-width:744px){
.dir.c10c5g9q[class][class]{margin-top:-24px;}}

@media (min-width:1128px){
.c10c5g9q[class][class]{grid-column:2 / -2;}

.dir.c10c5g9q[class][class]{margin-top:-8px;}}

@media (min-width:1880px){
.c10c5g9q[class][class]{grid-column:3 / -3;}}

.dir.c1e4lgix[class][class]{margin-bottom:-16px;}
.gh7uyir[class][class]{--breakpoint-grid_column-gap:var(--ikx-k-pe);--breakpoint-grid_row-gap:var(--f-fw-z-a-i);--breakpoint-grid_columns:1;}

@media (min-width:550px){
.gh7uyir[class][class]{--breakpoint-grid_columns:2;}}

@media (min-width:950px){
.gh7uyir[class][class]{--breakpoint-grid_columns:3;}}

@media (min-width:1128px){
.gh7uyir[class][class]{--breakpoint-grid_columns:4;}}

@media (min-width:1640px){
.gh7uyir[class][class]{--breakpoint-grid_columns:5;}}

@media (min-width:1880px){
.gh7uyir[class][class]{--breakpoint-grid_columns:6;}}

.giajdwt[class][class]{--breakpoint-grid_column-gap:var(--ikx-k-pe);--breakpoint-grid_row-gap:var(--f-fw-z-a-i);}

@media (min-width:550px){
.giajdwt[class][class]{--breakpoint-grid_columns:2;}}

@media (min-width:1240px){
.giajdwt[class][class]{--breakpoint-grid_columns:3;}}

@media (min-width:744px){
.g1xypvzw[class][class]{--breakpoint-grid_auto-rows:minmax(0,1fr);}}
.c12emh1n[class][class]{color:var(--f-k-smk-x);display:flex;flex-direction:column;height:100%;position:relative;}

.dir.c12emh1n[class][class]{background:#ebe8e3;border-radius:var(--i-g-gvoq);padding:20px var(--jaa-ni-h) var(--ic-zlb-s);}

.clw3qpq[class][class]{display:grid;grid-gap:var(--fgg-f-l-a);grid-template-columns:minmax(0,1fr) minmax(0,1fr);}

.dir.clw3qpq[class][class]{margin-top:auto;padding-top:var(--f-fw-z-a-i);}

.tys6f0u[class][class]{font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);line-height:var(--fme-bf-w);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;font-weight:var(--jx-zk-pv);width:85%;}

@supports (overflow:clip){
.tys6f0u[class][class]{overflow:clip;}}

.dir.ptibqhv[class][class]{margin-top:var(--fgg-f-l-a);}

.l1wzc0d9[class][class]{top:0;bottom:0;position:absolute;outline:none;}

.dir.l1wzc0d9[class][class]{border-radius:var(--g-ki-r-rq);right:0;left:0;}

.dir.l1wzc0d9[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.l1wzc0d9[class][class]:focus::-moz-focus-inner{border:none;}

.l1wzc0d9[class][class]:-moz-focusring{outline:none;}

.dir.l1wzc0d9[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.l1wzc0d9[class][class]:focus-visible{transition:none;}}

.dir.l1wzc0d9[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.l1wzc0d9[class][class]:focus[data-focus-visible-added]{transition:none;}}
.c9sd6w7[class][class]{color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);}

.ii8uc3b[class][class]{overflow:hidden;pointer-events:none;position:relative;-webkit-mask-image:-webkit-radial-gradient(white,black);}

.dir.ii8uc3b[class][class]{background-color:var(--j-qkgmf);border-radius:var(--i-g-gvoq);}

.i1o5zxy4[class][class]{display:flex;flex-direction:column;flex:1;font-size:15px;justify-content:center;line-height:19px;}

.dir.i1o5zxy4[class][class]{margin-top:var(--b-y-unon);}

.t1gu72ql[class][class]{line-height:19px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;font-weight:var(--jx-zk-pv);}

@supports (overflow:clip){
.t1gu72ql[class][class]{overflow:clip;}}

.s14lcms1[class][class]{line-height:19px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--f-k-smk-x);}

.dir.s14lcms1[class][class]{margin-top:var(--h-x-sf-jw);}

@supports (overflow:clip){
.s14lcms1[class][class]{overflow:clip;}}
