@media (min-width:744px){
.dir.m77f675[class][class]{padding-left:var(--ic-zlb-s);padding-right:var(--ic-zlb-s);}}

.mcf527q[class][class]{display:inline;}

@media (min-width:744px){
.mcf527q[class][class]{display:none;}}

.ml81kj2[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);color:var(--f-k-smk-x);overflow-y:auto;}

@media (min-width:744px){
.dir.ml81kj2[class][class]{padding:0 var(--ic-zlb-s) var(--ic-zlb-s) var(--ic-zlb-s);}}

.dir.i1hn1e89[class][class]{margin-bottom:var(--ic-zlb-s);}

.i1mu9jzo[class][class]{width:100%;height:auto;}

.wdeq0q3[class][class]{font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);font-weight:var(--jx-zk-pv);}

.dir.wdeq0q3[class][class]{margin-bottom:var(--b-y-unon);}

.dir.m17z631y[class][class]{margin:var(--ic-zlb-s);}

@media (min-width:744px){
.dir.m17z631y[class][class]{margin:0;padding-bottom:var(--jaa-ni-h);}}
