.m8eq1rj[class][class]{line-height:var(---s-l-myu);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}

@supports (overflow:clip){
.m8eq1rj[class][class]{overflow:clip;}}

.b172y5v7[class][class]{font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);color:var(--f-k-smk-x);}
.c1kae56o[class][class]{--page-shell-max-content-width:2520px;--gp-sidebar-top-padding:0;position:relative;isolation:isolate;--explore_padding-inline:24px;}

@media (min-width:744px){
.c1kae56o[class][class]{--explore_padding-inline:40px;--explore-nav_padding-block-start:20px;}

.c1kae56o[class][class].m1m6rr3d[class][class]{--explore-nav_padding-block-start:0px;}}

@media (min-width:1128px){
.c1kae56o[class][class]{--explore_padding-inline:40px;}}

@media (min-width:1440px){
.c1kae56o[class][class]{--explore_padding-inline:80px;}}

.h1wqqi3k[class][class]{position:-webkit-sticky;position:sticky;top:0;width:100%;height:80px;contain-intrinsic-height:80px;z-index:10;contain:size style layout;}

.n1p4yt3r[class][class]{-webkit-padding-before:var(--explore-nav_padding-block-start);padding-block-start:var(--explore-nav_padding-block-start);position:-webkit-sticky;position:sticky;top:calc( 80px - var(--explore-nav_padding-block-start,0px) );width:100%;z-index:9;height:98px;contain-intrinsic-height:98px;contain:size style layout;}

.n1p4yt3r[class][class]::after{content:'';display:block;position:absolute;top:0;bottom:0;z-index:-1;}

.dir.n1p4yt3r[class][class]::after{right:0;left:0;box-shadow:none;transition:box-shadow 0.2s ease;}

.dir.nsi0rux[class][class]::after{box-shadow:rgb(0 0 0 / 16%) 0 0 6px;}

.nyvqnmx[class][class]{height:78px;contain-intrinsic-height:78px;}

.fowfzmz[class][class]{max-width:var(--page-shell-max-content-width,1760px);contain:paint layout;width:100%;}

.dir.fowfzmz[class][class]{margin-inline:auto;-webkit-padding-start:var(--explore_padding-inline);padding-inline-start:var(--explore_padding-inline);-webkit-padding-end:var(--explore_padding-inline);padding-inline-end:var(--explore_padding-inline);background:var(--f-mkcy-f);}

@media (min-width:744px){
.fowfzmz[class][class]{-webkit-margin-before:var(--jhzm-v-t);margin-block-start:var(--jhzm-v-t);-webkit-margin-after:var(--f-fw-z-a-i);margin-block-end:var(--f-fw-z-a-i);}}

.fr1rcow[class][class]{visibility:hidden;}

.m1nerlse[class][class]{--gp-placement-max-height:calc(100vh - 78px - 80px);height:var(--gp-placement-max-height);visibility:hidden;position:absolute;width:100%;}

.mdv8m2z[class][class]{position:static;visibility:visible;position:-webkit-sticky;position:sticky;top:158px;z-index:5;}

.f1ioqu24[class][class]{position:fixed;bottom:0;width:calc(100% - var(--scrollbar-gutter,0%));z-index:8;pointer-events:none;display:grid;grid-template:repeat(2,auto) / repeat(3,33.333%);grid-template-areas: 'left center right' 'bottom bottom bottom';}

.mxgbmxw[class][class]{grid-area:center;justify-self:center;align-self:end;}

.dir.mxgbmxw[class][class]{margin-bottom:40px;}

.aaiims2[class][class]{z-index:100;grid-area:right;justify-self:end;pointer-events:auto;}

.dir.aaiims2[class][class]{margin-bottom:8px;}

.dir-ltr.aaiims2[class][class]{margin-right:40px;}

.dir-rtl.aaiims2[class][class]{margin-left:40px;}

.f6gubht[class][class]{grid-area:bottom;}
.m2bq0q7[class][class]{--gp-placement-max-height:100vh;display:contents;}

.dir.fcm1q3h[class][class]{padding-left:var(--ikx-k-pe);padding-right:var(--ikx-k-pe);}
.m991vcp[class][class] .f1nhqas0[class][class]{visibility:hidden;}

.rivl72l[class][class]{display:content;--explore-nav_height:144px;--explore-drawer-header_height:74px;}

@media (max-device-height:700px){
.rivl72l[class][class]{--explore-drawer-header_height:48px;}}

.f1wdmv7q[class][class]{bottom:0;position:fixed;z-index:1999;-webkit-transition:-webkit-transform 0.2s cubic-bezier(0.455,0.03,0.515,0.955);}

.dir.f1wdmv7q[class][class]{inset-inline:0;transform:translateY(-65px);transition:transform 0.2s cubic-bezier(0.455,0.03,0.515,0.955);}

@supports (margin-bottom:constant(safe-area-inset-bottom)){
.dir.f1wdmv7q[class][class]{margin-bottom:constant(safe-area-inset-bottom);}}

@supports (margin-bottom:env(safe-area-inset-bottom)){
.dir.f1wdmv7q[class][class]{margin-bottom:env(safe-area-inset-bottom);}}

.dir.f1wdmv7q[class][class].t1cesqxi[class][class]{transform:translateY(0);}

@media (prefers-reduced-motion:reduce){
.dir.f1wdmv7q[class][class]{transition:none;}}

.mw1a6og[class][class]{position:fixed;z-index:0;top:0;bottom:0;}

.dir.mw1a6og[class][class]{background:var(--f-mkcy-f);right:0;left:0;}
.f1oixr0z[class][class]{isolation:isolate;contain:content;}

.dir.f1oixr0z[class][class]{background:var(--f-mkcy-f);padding-bottom:var(--kksqe-v);}

.f8hlnvc[class][class]{height:calc(100 * var(--vh,1vh));visibility:hidden;pointer-events:none;content-visibility:hidden;}

.h1uun34m[class][class]{position:fixed;height:calc(100 * var(--vh,1vh));bottom:calc(-100 * var(--vh,1vh) + var(--explore-drawer-header_height));visibility:hidden;}

.dir.h1uun34m[class][class]{background-color:var(--f-mkcy-f);border-top-left-radius:24px;border-top-right-radius:24px;left:0;right:0;transform:translateY(calc(-100% + var(--explore-nav_height)));}

.dir.hocrdwj[class][class]{transform:translateY(0);}

.h1dwwicl[class][class]{visibility:visible;}

.hrp51wk[class][class]{-webkit-transition:-webkit-transform 0.4s ease;}

.dir.hrp51wk[class][class]{transition:transform 0.4s ease;}

@media (prefers-reduced-motion:reduce){
.dir.hrp51wk[class][class]{transition:none;}}

.h1h2686x[class][class]{height:var(--explore-drawer-header_height);touch-action:none;outline:none;}

.dir.h1h2686x[class][class]{border-top-left-radius:24px;border-top-right-radius:24px;}

.h1h2686x[class][class]::before{content:'';display:block;position:absolute;top:var(--fgg-f-l-a);width:40px;height:var(--h-x-sf-jw);}

.dir.h1h2686x[class][class]::before{border-radius:var(--h-x-sf-jw);background-color:rgba(32,32,32,0.2);}

.dir-ltr.h1h2686x[class][class]::before{left:50%;transform:translateX(-20px);}

.dir-rtl.h1h2686x[class][class]::before{right:50%;transform:translateX(20px);}

.dir.h1h2686x[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.h1h2686x[class][class]:focus::-moz-focus-inner{border:none;}

.h1h2686x[class][class]:-moz-focusring{outline:none;}

.dir.h1h2686x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(0.8 / 255 255 255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.h1h2686x[class][class]:focus-visible{transition:none;}}

.dir.h1h2686x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(0.8 / 255 255 255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.h1h2686x[class][class]:focus[data-focus-visible-added]{transition:none;}}
